body{
	font-family: helvetica, arial, sans-serif;
	color: red;
}
#contenedor-izquierdo{
	background-color: green;
	left: 0px;
}
#contenedor-derecho {
	background-color: aqua;
	right: 0px;
}
.contenedor{
	display: flex;
	flex-flow:column wrap;/* Utilizamos column por conveniencia ya que asi podemos tener todas las fotos uno abajo de otra*/
	justify-content: flex-start;
	align-content: center; /*Para que quede mas estetico dejamos el contenedor de fotos en el centro*/
	gap: 8px 0;
	width: 15%;
	height: 100%;
	top: 0px;
	position: absolute;
	padding: 10px;
}
.contenedor-componente {
	/*Como el contenedor tiene un background no utilizamos flex-grow*/
	flex-basis: auto;
	border: 2px solid red;
	position: relative;/*Para poder mover las fotos necesitamos que sea relative*/
	flex-shrink: 1;
	display: flex;
	flex-direction: row;/* Para poder alinear las fotos en el centro utilizamos que tengan disposicion de fila*/
	/*No utilizamos flex-wrap debido a que este contenedor solo tendra un elemento*/
	justify-content: center;/*Para que las imagenes queden en el centro del contenedor*/
	background-color: orange;
	height: 9.5%;
	width: 50%;
}
.componente {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
}
#placita{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:center;
	width: 70%;
	height: 100%;
	position: absolute;
	top:0px;
	left: 15%;
	right: 15%;
	padding: 10px;
	z-index: -1;
}
h1{
	font-size: 2vw ;
	text-align: center;
	color: blue;
}
.cielo {
	height: 40%;
	width: 60%;
	background: #BDE6F1;
	border-radius: 1rem 1rem 0 0;
	position: relative;
	opacity: 0.5;
	z-index: 1;
}
.suelo {
	width: 60%;
	height: 45%;
	background: brown;
	position: relative;
	border-radius: 0 0 1rem 1rem;
	opacity: 0.7;
	z-index: 1;
}